/*https://stackoverflow.com/questions/19414856/how-can-i-make-all-images-of-different-height-and-width-the-same-via-css
*/
.bookcover-stack-image, .bookcover-stack {
    
    float: left;
    width:  300;
    height: 300;
    object-fit:contain;
    opacity: 1;
    padding: 1em;
}

.bookcover-stack-image:hover {
    opacity:.7;
}

.books-headline{
    display: inline-block;
}

.dropdown {
    display: inline-block;
}

.bookcovers {
    display: table-cell;
}
