/*https://stackoverflow.com/questions/19414856/how-can-i-make-all-images-of-different-height-and-width-the-same-via-css
*/
.bookcover-stack-image {
    position: relative;
    float: left;
    width:  200px;
    height: 200px;
    background-position: 50% 50%;
    background-repeat:   no-repeat;
    background-size:     cover;
    object-fit:contain;
    opacity: 1;
    display: block;
}

.bookcover-stack-image:hover {
    opacity:.7;
}

.books-headline{
    display: inline-block;
}

.dropdown {
    display: inline-block;
}
